[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-configurations = "*"
django-extensions = "*"
django-templated-mail = "*"
django-filter = "*"
django-cors-headers = "*"
graphene = "*"
graphene-django = "*"
nameparser = "*"
"psycopg2-binary" = "*"
Django = "*"
PyJWT = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
black = "==18.6b2"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
mock = "*"
snapshottest = "*"
factory_boy = "*"
bandit = "*"

[requires]
python_version = "3.6"
